<body class="bg-white">
  <div class="flex min-h-screen bg-white">
    <div class="w-1/2 bg-cover md:block hidden" style="background-image:  url(assets/lasco_2.jpg)">
        <div class="py-12 flex items-center justify-center flex-shrink-3 text-white">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 pr-1" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 9a2 2 0 012-2h.93a2 2 0 001.664-.89l.812-1.22A2 2 0 0110.07 4h3.86a2 2 0 011.664.89l.812 1.22A2 2 0 0018.07 7H19a2 2 0 012 2v9a2 2 0 01-2 2H5a2 2 0 01-2-2V9z" />
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 13a3 3 0 11-6 0 3 3 0 016 0z" />
          </svg>
          <a href="https://www.instagram.com/roxanepeyronnenc">https://www.instagram.com/roxanepeyronnenc</a>
        </div>
    </div>

    <div class="md:w-1/2 max-w-lg mx-auto my-24 px-4 py-5 shadow-none">
      <div class="text-left p-0 font-sans">
        <h1 class=" text-gray-800 text-3xl font-medium">Contact us</h1>
        <h3 class="p-1 text-gray-700">If you have any questions, or want to report some bugs.</h3>
      </div>
      <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" class="p-0">
        <div class="mt-5">
          <label for="email" class="sc-bqyKva ePvcBv">Your email</label>
          <input id="email" type="text" formControlName="email" class="block w-full p-2 border rounded border-gray-300 focus:outline-none focus:ring-1 focus:ring-gray-400 focus:border-transparent" placeholder="Email">
          <div *ngIf="isSubmitted && contactForm.controls.email.errors">
            <div *ngIf="contactForm.controls.email.errors.required" class="text-red-500">Email is required.</div>
            <div *ngIf="contactForm.controls.email.errors.email" class="text-red-500">It doesn't look like an email !</div>
          </div>
        </div>
        <div class="mt-5">
          <label for="pseudo" class="sc-bqyKva ePvcBv">Your Pseudo</label>
          <input id="pseudo" type="text" formControlName="pseudo" class="block w-full p-2 border rounded border-gray-300 focus:outline-none focus:ring-1 focus:ring-gray-400 focus:border-transparent " placeholder="Pseudo">
          <div *ngIf="isSubmitted && contactForm.controls.pseudo.errors" >
            <div *ngIf="contactForm.controls.pseudo.errors.required" class="text-red-500">Pseudo is required.</div>
            <div *ngIf="contactForm.controls.pseudo.errors.minlength" class="text-red-500">Pseudo should had more than 3 characteres.</div>
          </div>
        </div>
        <div class="mt-5">
          <label for="comment" class="sc-bqyKva ePvcBv">What Happened ?</label>
          <textarea id="comment" formControlName="comment" class="block w-full p-2 border rounded border-gray-300 focus:outline-none focus:ring-1 focus:ring-gray-400 focus:border-transparent"></textarea>
          <div *ngIf="isSubmitted && contactForm.controls.comment.errors" >
            <div *ngIf="contactForm.controls.comment.errors.required" class="text-red-500">Comment field must not be empty.</div>
          </div>
        </div>
        <div *ngIf="isSend" class="text-green-500">Thanks for your comment ! We will contact you soon.</div>
        <div class="mt-10">
          <input type="submit" value="Send" class="py-3 text-green-500 bg-gray-800 hover:bg-green-500 hover:text-white text-white w-full rounded">
        </div>
      </form>
    </div>
  </div>
</body>
