<!-- This example requires Tailwind CSS v2.0+ -->
<div ng-controller="AppCtrl" ng-cloak>
  <nav class="bg-gray-800">
    <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
      <div class="relative flex items-center justify-between h-16">
        <div class="flex-1 flex items-center justify-center sm:items-stretch sm:justify-start">
          <div class="hidden sm:block sm:ml-6">
            <div class="flex space-x-4">
              <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
              <a class="text-green-500 hover:bg-gray-700 hover:text-green-500 px-3 py-2 rounded-md text-sm font-medium" aria-current="page" (click)="goTo(1)">Accueil</a>
              <a class="text-green-500 hover:bg-gray-700 hover:text-green-500 px-3 py-2 rounded-md text-sm font-medium" (click)="goTo(2)">Documentation</a>
              <a class="text-green-500 hover:bg-gray-700 hover:text-green-500 px-3 py-2 rounded-md text-sm font-medium" (click)="goTo(3)">Tarifs</a>
              <a class="text-green-500 hover:bg-gray-700 hover:text-green-500 px-3 py-2 rounded-md text-sm font-medium" (click)="goTo(4)">Contact</a>
            </div>
          </div>
        </div>
        <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
          <button class="bg-gray-800 p-1 rounded-full text-gray-400 hover:text-white">
            <span class="sr-only">View notifications</span>
            <!-- Heroicon name: outline/bell -->
              <a class="rounded-full py-3 px-4 uppercase text-xs font-bold cursor-pointer tracking-wider text-green-500 border-green-500 border-2 hover:bg-green-500 hover:text-white transition ease-out duration-700" (click)="goTo(5)">Log in</a>
          </button>
        </div>
      </div>
    </div>
  </nav>

  <container-element [ngSwitch]="currentView">
    <a *ngSwitchCase="1"> <app-welcome></app-welcome> </a>
    <a *ngSwitchCase="2"> <app-documentation></app-documentation> </a>
    <a *ngSwitchCase="3"> <app-tarif></app-tarif> </a>
    <a *ngSwitchCase="4"> <app-contact></app-contact> </a>
    <a *ngSwitchCase="5"> <app-login></app-login> </a>
  </container-element>

</div>
